# Capstone Project Exploratory Data Analysis (EDA)

In this step of the capstone project, I explored the data to understand how it is distributed. I first started with importing the data and with that there were many difficulties and challenges. After that was resolved, I took a look at which columns were needed to explore the data and got rid of the ones that weren't. Next I compared some of the oldest values recorded with the newest ones, saw how the values overall correlated, and finally used pandas profiling for report of the data.

## Importing the Data

### Difficulties and Changes

When starting out with the data, I realized that the JSON format the data was originally saved in would not be easy to work with. The data itself was thuroughly nested, and once I got that worked out, it did not include the data points I needed. With that, I decided to pivot and pull the data as CSVs instead. From there, it was easier to import it into pandas data frames and 

### Data Importation Methods

With the files I currently have from my data source, [the World Bank](https://data.worldbank.org/), I had to import the data two different ways:

This first way, I imported pandas and pandas profiling, and put all of the cells from the CSV into a pandas data frame. The first few rows were skipped because it included information on when the file was last updated and other non-noteworthy artifacts.  
```
import pandas as pd
from pandas_profiling import ProfileReport
    
df = pd.read_csv('data.csv', skiprows = 4)
df
```
This second way, all I needed to do was import pandas and pandas profiling and read the CSV. Using the skipfooter parameter, I'm able to remove unneccessary rows from the bottom of the file.

```
import pandas as pd
from pandas_profiling import ProfileReport

df = pd.read_csv('data.csv', engine='python', skipfooter = 49)
df
```

Below, I used the second way of data importing to import GDP figures ranging back from 1960 until today.

In [35]:
import pandas as pd
from pandas_profiling import ProfileReport

df = pd.read_csv('data.csv', engine='python', skipfooter = 49)
df

,Series Name,Series Code,Country Name,Country Code,1960,...,2016,2017,2018,2019,2020
0,GDP (current US$),NY.GDP.MKTP.CD,Afghanistan,AFG,537777811.100000,...,18116562465.000000,18753469630.000000,18053228579.000000,18799450743.000000,20116137326.000000
1,GDP (current US$),NY.GDP.MKTP.CD,Albania,ALB,NaN,...,11861199831.000000,13019689337.000000,15156432310.000000,15400242875.000000,14887629268.000000
2,GDP (current US$),NY.GDP.MKTP.CD,Algeria,DZA,2723593385.000000,...,160034000000.000000,170097000000.000000,174911000000.000000,171767000000.000000,145009000000.000000
3,GDP (current US$),NY.GDP.MKTP.CD,American Samoa,ASM,NaN,...,671000000.000000,612000000.000000,639000000.000000,648000000.000000,709000000.000000
4,GDP (current US$),NY.GDP.MKTP.CD,Andorra,AND,NaN,...,2896679212.000000,3000180750.000000,3218316013.000000,3155065488.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
212,GDP (current US$),NY.GDP.MKTP.CD,Virgin Islands (U.S.),VIR,NaN,...,3798000000.000000,3794000000.000000,3900000000.000000,4068000000.000000,NaN
213,GDP (current US$),NY.GDP.MKTP.CD,West Bank and Gaza,PSE,NaN,...,15405400000.000000,16128000000.000000,16276600000.000000,17133500000.000000,15561300000.000000
214,GDP (current US$),NY.GDP.MKTP.CD,"Yemen, Rep.",YEM,NaN,...,31317365269.000000,26840128755.000000,21606140907.000000,NaN,NaN
215,GDP (current US$),NY.GDP.MKTP.CD,Zambia,ZMB,713000000.000000,...,20958412538.000000,25873601261.000000,26311590297.000000,23308667781.000000,18110631358.000000
216,GDP (current US$),NY.GDP.MKTP.CD,Zimbabwe,ZWE,1052990400.000000,...,20548678100.000000,17584890937.000000,18115543791.000000,19284289739.000000,18051170799.000000

## Data Cleaning

Afterwards, I realized that there were columns that aren't needed in the EDA, however they may be useful later on. I removed them from my results using `df.drop()`.

```
df = df.drop(columns=['Indicator Name', 'Indicator Code', 'Unnamed: 65'])
df
```

After that, the only other issue was the numbers showing up in scientific notation because they are between the millions and trillions of dollars range. To fix that, I changed the display options for floats with this code here: `pd.options.display.float_format = '{:.2f}'.format`

In [36]:
df = df.drop(columns=['Series Name', 'Series Code'])
pd.options.display.float_format = '{:.2f}'.format
df

,Country Name,Country Code,1960,1961,1962,...,2016,2017,2018,2019,2020
0,Afghanistan,AFG,537777811.10,548888895.60,546666677.80,...,18116562465.00,18753469630.00,18053228579.00,18799450743.00,20116137326.00
1,Albania,ALB,NaN,NaN,NaN,...,11861199831.00,13019689337.00,15156432310.00,15400242875.00,14887629268.00
2,Algeria,DZA,2723593385.00,2434727330.00,2001428328.00,...,160034000000.00,170097000000.00,174911000000.00,171767000000.00,145009000000.00
3,American Samoa,ASM,NaN,NaN,NaN,...,671000000.00,612000000.00,639000000.00,648000000.00,709000000.00
4,Andorra,AND,NaN,NaN,NaN,...,2896679212.00,3000180750.00,3218316013.00,3155065488.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,...,3798000000.00,3794000000.00,3900000000.00,4068000000.00,NaN
213,West Bank and Gaza,PSE,NaN,NaN,NaN,...,15405400000.00,16128000000.00,16276600000.00,17133500000.00,15561300000.00
214,"Yemen, Rep.",YEM,NaN,NaN,NaN,...,31317365269.00,26840128755.00,21606140907.00,NaN,NaN
215,Zambia,ZMB,713000000.00,696285714.30,693142857.10,...,20958412538.00,25873601261.00,26311590297.00,23308667781.00,18110631358.00
216,Zimbabwe,ZWE,1052990400.00,1096646600.00,1117601600.00,...,20548678100.00,17584890937.00,18115543791.00,19284289739.00,18051170799.00

## Data at a Glance

Overall, I'm left with 217 rows pertaining to world countries with 63 columns pertaining to the country name, country code, and year. I then used `df.describe()` to get an overview of the data as well as seeing the diffences between the mean values from 1960 and 2020. In 60 years, the world average GDP dramatically increased. Some of the rows are missing GDP data due the GDP not being recorded for that country.

In [37]:
df1960mean = df['1960'].mean()
df2020mean = df['2020'].mean()
print('Mean GDP in 1960: {m1960}\nMean GDP in 2020: {m2020}'.format(m1960=df1960mean, m2020=df2020mean))
print('Difference in GDP between 1960 to 2020: {mdif}'.format(mdif=df2020mean-df1960mean))
df.describe()

Mean GDP in 1960: 11614905878.833878
Mean GDP in 2020: 430990113284.3397
Difference in GDP between 1960 to 2020: 419375207405.50586

,1960,1961,1962,1963,1964,...,2016,2017,2018,2019,2020
count,98.00,101.00,104.00,104.00,104.00,...,208.00,208.00,208.00,205.00,194.00
mean,11614905878.83,11906336553.98,12630162297.38,13615198721.58,14905901025.68,...,362773134768.17,385953305417.55,410166193965.98,422337620580.79,430990113284.34
std,55924191269.38,57154619021.81,60527339386.19,64025794833.88,68948817766.79,...,1600167269667.40,1688091240186.30,1810180258700.04,1881976352922.97,1914465862733.67
min,12012012.01,11592011.59,9122751.45,10840095.13,12712471.40,...,36547799.58,40619251.99,42588164.97,47271463.33,48855550.20
25%,283286082.35,271066000.00,284161587.15,328767087.58,364379525.75,...,5808218370.00,6299854430.50,6644358830.25,7220395248.00,7780402262.50
50%,1023646137.50,1058975266.00,1114083740.50,1179979554.00,1258118950.00,...,23221376289.00,25426395630.50,26143956879.00,26896660000.00,31192751628.50
75%,4255954032.25,4817580184.00,5114321932.75,5724960131.00,5975611956.75,...,161676000000.00,174377250000.00,190487750000.00,205144000000.00,203106750000.00
max,543300000000.00,563300000000.00,605100000000.00,638600000000.00,685800000000.00,...,18745100000000.00,19543000000000.00,20611900000000.00,21433200000000.00,20953000000000.00

## Data Insights

From there, I decided to ask a few questions of my data:

1. Year over year, how does the data correlate?
2. Overall, how many missing values are there?
3. What was the minimum recorded GDP from 1960?
4. What was the maximum recorded GDP from 1960?
5. What were the five countries with the lowest recorded GDP from 1960?
6. What were the five countries with the highest recorded GDP from 1960?
7. What was the minimum recorded GDP from 2020?
8. What was the maximum recorded GDP from 2020?
9. What were the five countries with the lowest recorded GDP from 2020?
10. What were the five countries with the highest recorded GDP from 2020?

Below, each one of the questions are answered in order.

### 1

In [38]:
pd.set_option('display.max_columns', df.shape[1]+1)
df.isnull().sum().to_frame().T

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,0,119,116,113,113,113,104,102,99,97,97,91,89,89,89,88,86,85,82,83,82,71,68,67,66,65,63,61,57,54,54,40,45,41,38,34,25,25,25,23,22,18,17,12,12,12,12,11,11,10,10,9,7,8,7,7,8,9,9,9,12,23

### 2

In [39]:
df1960 = df[df['1960'] == df['1960'].min()]
df1960

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
169,Seychelles,SYC,12012012.01,11592011.59,12642026.57,13923029.26,15393032.35,15603032.80,16443034.56,16632032.81,16074027.35,16452027.99,18432031.36,21965951.72,30645121.01,36896278.22,43134498.69,47803145.96,49278979.55,64526398.66,85552369.91,127261099.20,147357222.80,154902869.00,147912069.80,146712850.50,151313242.00,168887539.10,207850623.60,249267039.80,283828769.00,304832867.40,368584758.90,374359556.10,433667193.80,473916819.50,486451204.60,508221508.20,503068472.20,562958836.50,608369282.20,622985493.70,614879764.80,622262057.20,697518248.20,705704816.00,839319927.30,919103254.50,1016418229.00,1033561654.00,967199594.00,847397850.10,969936525.30,1065826670.00,1060226126.00,1328157609.00,1343007845.00,1377495054.00,1426651769.00,1528242026.00,1547690759.00,1582841059.00,1059886364.00

### 3

In [40]:
df1960 = df[df['1960'] == df['1960'].max()]
df1960

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
206,United States,USA,543300000000.00,563300000000.00,605100000000.00,638600000000.00,685800000000.00,743700000000.00,815000000000.00,861700000000.00,942500000000.00,1019900000000.00,1073300000000.00,1164850000000.00,1279110000000.00,1425380000000.00,1545240000000.00,1684900000000.00,1873410000000.00,2081830000000.00,2351600000000.00,2627330000000.00,2857310000000.00,3207040000000.00,3343790000000.00,3634040000000.00,4037610000000.00,4338980000000.00,4579630000000.00,4855220000000.00,5236440000000.00,5641580000000.00,5963140000000.00,6158130000000.00,6520330000000.00,6858560000000.00,7287240000000.00,7639750000000.00,8073120000000.00,8577550000000.00,9062820000000.00,9630660000000.00,10252300000000.00,10581800000000.00,10936400000000.00,11458200000000.00,12213700000000.00,13036600000000.00,13814600000000.00,14451900000000.00,14712800000000.00,14448900000000.00,14992100000000.00,15542600000000.00,16197000000000.00,16784800000000.00,17527200000000.00,18238300000000.00,18745100000000.00,19543000000000.00,20611900000000.00,21433200000000.00,20953000000000.00

### 4

In [41]:
df = df.sort_values('1960', ascending=True)
df.head(5)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
169,Seychelles,SYC,12012012.01,11592011.59,12642026.57,13923029.26,15393032.35,15603032.80,16443034.56,16632032.81,16074027.35,16452027.99,18432031.36,21965951.72,30645121.01,36896278.22,43134498.69,47803145.96,49278979.55,64526398.66,85552369.91,127261099.20,147357222.80,154902869.00,147912069.80,146712850.50,151313242.00,168887539.10,207850623.60,249267039.80,283828769.00,304832867.40,368584758.90,374359556.10,433667193.80,473916819.50,486451204.60,508221508.20,503068472.20,562958836.50,608369282.20,622985493.70,614879764.80,622262057.20,697518248.20,705704816.00,839319927.30,919103254.50,1016418229.00,1033561654.00,967199594.00,847397850.10,969936525.30,1065826670.00,1060226126.00,1328157609.00,1343007845.00,1377495054.00,1426651769.00,1528242026.00,1547690759.00,1582841059.00,1059886364.00
181,St. Kitts and Nevis,KNA,12366563.61,12483229.31,12541562.15,12833226.39,13416554.86,13593932.32,14469078.18,16742338.25,14600000.00,15850000.00,16300000.00,19624746.45,22944849.12,24196018.38,31514856.31,33364055.30,30095602.29,44496296.30,49433333.33,58840740.74,68459259.26,80888888.89,86022222.22,86874074.07,98603703.70,111007407.40,130685185.20,147748148.10,172692592.60,192518518.50,217259259.30,220540740.70,242137037.00,263755555.60,295159259.30,313485185.20,333944444.40,374641308.00,383257331.40,406595484.40,421695769.80,458643829.00,481077373.70,469869869.90,506900000.00,547203703.70,644411111.10,689285185.20,751233333.30,747862963.00,760170370.40,817759259.30,800414814.80,839770370.40,916566666.70,923155555.60,1008888889.00,1060740741.00,1078518519.00,1164814815.00,980740740.70
184,St. Vincent and the Grenadines,VCT,13066557.78,13999883.33,14524878.96,13708219.10,14758210.35,15108207.43,16099865.83,15835177.93,15350000.00,16650000.00,18450000.00,20051648.18,27585488.99,30165373.62,32924215.86,33237164.72,32792480.97,49353161.85,60844771.48,71096359.63,82340339.63,102086539.30,113759203.30,122255349.60,135024987.80,145641705.20,160846656.70,175580647.40,200726712.60,214745002.20,240366666.70,254829629.60,277955555.60,286307407.40,289437037.00,316007407.40,331488888.90,347770370.40,373618518.50,390718518.50,396262963.00,430040740.70,461885185.20,481807407.40,521974074.10,550729629.60,610929629.60,684444444.40,695429629.60,674922222.20,681225925.90,676129629.60,692933333.30,721207407.40,727714814.80,755400000.00,774429629.60,792177777.80,811300000.00,825040740.70,807474074.10
19,Belize,BLZ,28071888.56,29964370.71,31856922.86,33749405.01,36193826.12,40069930.07,44405594.41,47379310.34,44910179.64,47305389.22,53233532.93,59207317.07,66062500.00,78343558.28,103216374.30,118066298.30,96905829.60,117650000.00,136300000.00,151800000.00,197938222.40,196089854.70,182206327.00,192103186.00,214381949.00,212643742.70,231638320.50,281082558.60,320093360.30,369133890.70,412086445.50,444720750.00,518559700.00,560205300.00,581269550.00,620422500.00,641660000.00,654582900.00,689140000.00,732732350.00,832072450.00,868358750.00,925197950.00,983575600.00,1051386600.00,1102564900.00,1210603750.00,1271598050.00,1351338650.00,1317309450.00,1377177100.00,1460797903.00,1522897506.00,1579411253.00,1667335061.00,1721700991.00,1789304088.00,1858529677.00,1915899787.00,1982518541.00,1636280797.00
25,Botswana,BWA,30412308.99,32902336.64,35643207.63,38091150.57,41613969.05,45790869.75,51464435.15,58646443.51,66248256.62,77356914.08,96245114.46,127456485.10,164466873.70,244129088.00,306033848.40,355172413.80,372010119.60,451603325.40,590376720.60,819877300.60,1060923829.00,1073861599.00,1014907255.00,1172258182.00,1240796365.00,1114764007.00,1392634772.00,1965274882.00,2644536804.00,3083800685.00,3790567052.00,3942792837.00,4146513722.00,4160086253.00,4259330999.00,4730611067.00,4847752843.00,5020214747.00,4790458837.00,5484257417.00,5788329609.00,5489608300.00,5438857107.00,7511582173.00,8957467707.00,9918907108.00,10137883299.00,10939053365.00,10945070442.00,10267133178.00,12786654498.00,15351972361.00,14380004175.00,14901750991.00,15654660710.00,13578754072.00,15082578065.00,16088437675.00,16914245098.00,16593720656.00,15061922802.00

### 5

In [42]:
df = df.sort_values('1960', ascending=False)
df.head(5)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
206,United States,USA,543300000000.00,563300000000.00,605100000000.00,638600000000.00,685800000000.00,743700000000.00,815000000000.00,861700000000.00,942500000000.00,1019900000000.00,1073300000000.00,1164850000000.00,1279110000000.00,1425380000000.00,1545240000000.00,1684900000000.00,1873410000000.00,2081830000000.00,2351600000000.00,2627330000000.00,2857310000000.00,3207040000000.00,3343790000000.00,3634040000000.00,4037610000000.00,4338980000000.00,4579630000000.00,4855220000000.00,5236440000000.00,5641580000000.00,5963140000000.00,6158130000000.00,6520330000000.00,6858560000000.00,7287240000000.00,7639750000000.00,8073120000000.00,8577550000000.00,9062820000000.00,9630660000000.00,10252300000000.00,10581800000000.00,10936400000000.00,11458200000000.00,12213700000000.00,13036600000000.00,13814600000000.00,14451900000000.00,14712800000000.00,14448900000000.00,14992100000000.00,15542600000000.00,16197000000000.00,16784800000000.00,17527200000000.00,18238300000000.00,18745100000000.00,19543000000000.00,20611900000000.00,21433200000000.00,20953000000000.00
205,United Kingdom,GBR,73233967692.00,77741965703.00,81247564157.00,86561961812.00,94407558351.00,101825000000.00,108573000000.00,113117000000.00,107760000000.00,116465000000.00,130672000000.00,148114000000.00,169965000000.00,192538000000.00,206131000000.00,241757000000.00,232615000000.00,263066000000.00,335883000000.00,438994000000.00,564948000000.00,540766000000.00,515049000000.00,489618000000.00,461487000000.00,489285000000.00,601453000000.00,745163000000.00,910123000000.00,926885000000.00,1093170000000.00,1142800000000.00,1179660000000.00,1061390000000.00,1140490000000.00,1346420000000.00,1421510000000.00,1559570000000.00,1653390000000.00,1685760000000.00,1662130000000.00,1643910000000.00,1784080000000.00,2057090000000.00,2421810000000.00,2544830000000.00,2717060000000.00,3106180000000.00,2938880000000.00,2425800000000.00,2491110000000.00,2674890000000.00,2719160000000.00,2803290000000.00,3087170000000.00,2956570000000.00,2722850000000.00,2699020000000.00,2900790000000.00,2878670000000.00,2759800000000.00
68,France,FRA,62225478001.00,67461644222.00,75607529810.00,84759195106.00,94007851047.00,101537000000.00,110046000000.00,118973000000.00,129785000000.00,141903000000.00,148456000000.00,165967000000.00,203494000000.00,264430000000.00,285552000000.00,360832000000.00,372319000000.00,410279000000.00,506708000000.00,613953000000.00,701288000000.00,615552000000.00,584878000000.00,559869000000.00,530684000000.00,553138000000.00,771471000000.00,934173000000.00,1018850000000.00,1025210000000.00,1269180000000.00,1269280000000.00,1401470000000.00,1322820000000.00,1393980000000.00,1601090000000.00,1605680000000.00,1452880000000.00,1503110000000.00,1492650000000.00,1362250000000.00,1376470000000.00,1494290000000.00,1840480000000.00,2115740000000.00,2196130000000.00,2318590000000.00,2657210000000.00,2918380000000.00,2690220000000.00,2642610000000.00,2861410000000.00,2683830000000.00,2811080000000.00,2852170000000.00,2438210000000.00,2471290000000.00,2588740000000.00,2789590000000.00,2728870000000.00,2630320000000.00
41,China,CHN,59716467625.00,50056868958.00,47209359006.00,50706799903.00,59708343489.00,70436266147.00,76720285970.00,72881631327.00,70846535056.00,79705906247.00,92602973434.00,99800958648.00,113688000000.00,138544000000.00,144182000000.00,163432000000.00,153940000000.00,174938000000.00,149541000000.00,178281000000.00,191149000000.00,195866000000.00,205090000000.00,230687000000.00,259947000000.00,309488000000.00,300758000000.00,272973000000.00,312354000000.00,347768000000.00,360858000000.00,383373000000.00,426916000000.00,444731000000.00,564325000000.00,734548000000.00,863747000000.00,961604000000.00,1029040000000.00,1094000000000.00,1211350000000.00,1339400000000.00,1470550000000.00,1660290000000.00,1955350000000.00,2285970000000.00,2752130000000.00,3550340000000.00,4594310000000.00,5101700000000.00,6087160000000.00,7551500000000.00,8532230000000.00,9570410000000.00,10475700000000.00,11061600000000.00,11233300000000.00,12310400000000.00,13894800000000.00,14279900000000.00,14722700000000.00
98,Japan,JPN,44307342950.00,53508617739.00,60723018684.00,69498131797.00,81749006382.00,90950278258.00,105628000000.00,123782000000.00,146601000000.00,172204000000.00,212609000000.00,240152000000.00,318031000000.00,432083000000.00,479626000000.00,521542000000.00,586162000000.00,721412000000.00,1013610000000.00,1055010000000.00,1105390000000.00,1218990000000.00,1134520000000.00,1243320000000.00,1318380000000.00,1398890000000.00,2078950000000.00,2532810000000.00,3071680000000.00,3054910000000.00,3132820000000.00,3584420000000.00,3908810000000.00,4454140000000.00,4998800000000.00,5545560000000.00,4923390000000.00,4492450000000.00,4098360000000.00,4635980000000.00,4968360000000.00,4374710000000.00,4182850000000.00,4519560000000.00,4893120000000.00,4831470000000.00,4601660000000.00,4579750000000.00,5106680000000.00,5289490000000.00,5759070000000.00,6233150000000.00,6272360000000.00,5212330000000.00,4896990000000.00,4444930000000.00,5003680000000.00,4930840000000.00,5036890000000.00,5148780000000.00,5057760000000.00

### 6

In [43]:
df2020 = df[df['2020'] == df['2020'].min()]
df2020

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
201,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8824447.74,9365165.91,9742949.47,9630762.95,10886825.56,11025945.14,12334846.23,12700905.45,12757632.87,13687141.11,13742057.05,13196544.95,15450994.24,18231078.54,21534931.61,21839098.89,22902861.45,27030374.03,30290219.76,27101076.28,31823518.62,38711810.21,37671774.69,37509075.11,37290607.54,35492074.22,36547799.58,40619251.99,42588164.97,47271463.33,48855550.20

### 7

In [44]:
df2020 = df[df['2020'] == df['2020'].max()]
df2020

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
206,United States,USA,543300000000.00,563300000000.00,605100000000.00,638600000000.00,685800000000.00,743700000000.00,815000000000.00,861700000000.00,942500000000.00,1019900000000.00,1073300000000.00,1164850000000.00,1279110000000.00,1425380000000.00,1545240000000.00,1684900000000.00,1873410000000.00,2081830000000.00,2351600000000.00,2627330000000.00,2857310000000.00,3207040000000.00,3343790000000.00,3634040000000.00,4037610000000.00,4338980000000.00,4579630000000.00,4855220000000.00,5236440000000.00,5641580000000.00,5963140000000.00,6158130000000.00,6520330000000.00,6858560000000.00,7287240000000.00,7639750000000.00,8073120000000.00,8577550000000.00,9062820000000.00,9630660000000.00,10252300000000.00,10581800000000.00,10936400000000.00,11458200000000.00,12213700000000.00,13036600000000.00,13814600000000.00,14451900000000.00,14712800000000.00,14448900000000.00,14992100000000.00,15542600000000.00,16197000000000.00,16784800000000.00,17527200000000.00,18238300000000.00,18745100000000.00,19543000000000.00,20611900000000.00,21433200000000.00,20953000000000.00

### 8

In [45]:
df = df.sort_values('2020', ascending=False)
df.head(5)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
206,United States,USA,543300000000.00,563300000000.00,605100000000.00,638600000000.00,685800000000.00,743700000000.00,815000000000.00,861700000000.00,942500000000.00,1019900000000.00,1073300000000.00,1164850000000.00,1279110000000.00,1425380000000.00,1545240000000.00,1684900000000.00,1873410000000.00,2081830000000.00,2351600000000.00,2627330000000.00,2857310000000.00,3207040000000.00,3343790000000.00,3634040000000.00,4037610000000.00,4338980000000.00,4579630000000.00,4855220000000.00,5236440000000.00,5641580000000.00,5963140000000.00,6158130000000.00,6520330000000.00,6858560000000.00,7287240000000.00,7639750000000.00,8073120000000.00,8577550000000.00,9062820000000.00,9630660000000.00,10252300000000.00,10581800000000.00,10936400000000.00,11458200000000.00,12213700000000.00,13036600000000.00,13814600000000.00,14451900000000.00,14712800000000.00,14448900000000.00,14992100000000.00,15542600000000.00,16197000000000.00,16784800000000.00,17527200000000.00,18238300000000.00,18745100000000.00,19543000000000.00,20611900000000.00,21433200000000.00,20953000000000.00
41,China,CHN,59716467625.00,50056868958.00,47209359006.00,50706799903.00,59708343489.00,70436266147.00,76720285970.00,72881631327.00,70846535056.00,79705906247.00,92602973434.00,99800958648.00,113688000000.00,138544000000.00,144182000000.00,163432000000.00,153940000000.00,174938000000.00,149541000000.00,178281000000.00,191149000000.00,195866000000.00,205090000000.00,230687000000.00,259947000000.00,309488000000.00,300758000000.00,272973000000.00,312354000000.00,347768000000.00,360858000000.00,383373000000.00,426916000000.00,444731000000.00,564325000000.00,734548000000.00,863747000000.00,961604000000.00,1029040000000.00,1094000000000.00,1211350000000.00,1339400000000.00,1470550000000.00,1660290000000.00,1955350000000.00,2285970000000.00,2752130000000.00,3550340000000.00,4594310000000.00,5101700000000.00,6087160000000.00,7551500000000.00,8532230000000.00,9570410000000.00,10475700000000.00,11061600000000.00,11233300000000.00,12310400000000.00,13894800000000.00,14279900000000.00,14722700000000.00
98,Japan,JPN,44307342950.00,53508617739.00,60723018684.00,69498131797.00,81749006382.00,90950278258.00,105628000000.00,123782000000.00,146601000000.00,172204000000.00,212609000000.00,240152000000.00,318031000000.00,432083000000.00,479626000000.00,521542000000.00,586162000000.00,721412000000.00,1013610000000.00,1055010000000.00,1105390000000.00,1218990000000.00,1134520000000.00,1243320000000.00,1318380000000.00,1398890000000.00,2078950000000.00,2532810000000.00,3071680000000.00,3054910000000.00,3132820000000.00,3584420000000.00,3908810000000.00,4454140000000.00,4998800000000.00,5545560000000.00,4923390000000.00,4492450000000.00,4098360000000.00,4635980000000.00,4968360000000.00,4374710000000.00,4182850000000.00,4519560000000.00,4893120000000.00,4831470000000.00,4601660000000.00,4579750000000.00,5106680000000.00,5289490000000.00,5759070000000.00,6233150000000.00,6272360000000.00,5212330000000.00,4896990000000.00,4444930000000.00,5003680000000.00,4930840000000.00,5036890000000.00,5148780000000.00,5057760000000.00
73,Germany,DEU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215838000000.00,249985000000.00,299802000000.00,398374000000.00,445303000000.00,490637000000.00,519754000000.00,600498000000.00,740470000000.00,881345000000.00,950291000000.00,800472000000.00,776576000000.00,770684000000.00,725111000000.00,732535000000.00,1046260000000.00,1298180000000.00,1401230000000.00,1398970000000.00,1771670000000.00,1868950000000.00,2131570000000.00,2071320000000.00,2205070000000.00,2585790000000.00,2497240000000.00,2211990000000.00,2238990000000.00,2194200000000.00,1943150000000.00,1944110000000.00,2068620000000.00,2496130000000.00,2809190000000.00,2845800000000.00,2992200000000.00,3421230000000.00,3730030000000.00,3397790000000.00,3396350000000.00,3744410000000.00,3527340000000.00,3732740000000.00,3883920000000.00,3356240000000.00,3467500000000.00,3681730000000.00,3975350000000.00,3888330000000.00,3846410000000.00
205,United Kingdom,GBR,73233967692.00,77741965703.00,81247564157.00,86561961812.00,94407558351.00,101825000000.00,108573000000.00,113117000000.00,107760000000.00,116465000000.00,130672000000.00,148114000000.00,169965000000.00,192538000000.00,206131000000.00,241757000000.00,232615000000.00,263066000000.00,335883000000.00,438994000000.00,564948000000.00,540766000000.00,515049000000.00,489618000000.00,461487000000.00,489285000000.00,601453000000.00,745163000000.00,910123000000.00,926885000000.00,1093170000000.00,1142800000000.00,1179660000000.00,1061390000000.00,1140490000000.00,1346420000000.00,1421510000000.00,1559570000000.00,1653390000000.00,1685760000000.00,1662130000000.00,1643910000000.00,1784080000000.00,2057090000000.00,2421810000000.00,2544830000000.00,2717060000000.00,3106180000000.00,2938880000000.00,2425800000000.00,2491110000000.00,2674890000000.00,2719160000000.00,2803290000000.00,3087170000000.00,2956570000000.00,2722850000000.00,2699020000000.00,2900790000000.00,2878670000000.00,2759800000000.00

### 9

In [46]:
df = df.sort_values('2020', ascending=True)
df.head(5)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
201,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8824447.74,9365165.91,9742949.47,9630762.95,10886825.56,11025945.14,12334846.23,12700905.45,12757632.87,13687141.11,13742057.05,13196544.95,15450994.24,18231078.54,21534931.61,21839098.89,22902861.45,27030374.03,30290219.76,27101076.28,31823518.62,38711810.21,37671774.69,37509075.11,37290607.54,35492074.22,36547799.58,40619251.99,42588164.97,47271463.33,48855550.20
137,Nauru,NRU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47564520.39,66055407.67,96927201.48,98491843.64,104654365.20,86529661.37,99723394.96,109359680.20,124021393.70,118724073.80,114626625.60
102,Kiribati,KIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14295279.54,15278632.48,18936526.95,31710657.73,85637174.37,55081816.99,41109617.50,38748059.44,45210026.32,42620165.44,38715554.54,41369800.05,40572066.13,37837837.84,41246160.60,32125148.40,32085561.50,33608738.27,42972107.20,41119721.65,39809538.68,47515189.28,47737955.35,46919624.64,54832577.86,56338028.17,66515376.79,67537479.59,65334841.06,69032258.06,67254174.40,63101272.37,72196457.68,90231856.80,102367039.30,112133944.30,110234939.80,132671743.00,141042610.30,132419902.00,156120439.30,181705153.60,190243432.80,185114059.60,179703165.40,171117816.70,178328984.10,187276124.80,200157020.60,188391770.60,197508774.30
124,Marshall Islands,MHL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31020000.00,34918000.00,41749000.00,45144000.00,43879000.00,55989000.00,62983000.00,70688000.00,72798000.00,78476000.00,82507000.00,91063000.00,99461000.00,108071000.00,120230000.00,110858000.00,110705600.00,112279400.00,114326300.00,115347500.00,122824000.00,131738200.00,131398500.00,132440200.00,136559500.00,141515800.00,148346700.00,151898900.00,149769600.00,160407100.00,172188500.00,180436300.00,184840400.00,182142800.00,183814300.00,201510900.00,213204100.00,221588900.00,239462200.00,244462400.00
150,Palau,PLW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146297500.00,156907900.00,163184900.00,153963200.00,165186200.00,190452900.00,192382400.00,198897700.00,198283900.00,187522800.00,185943000.00,196911100.00,212397800.00,221117200.00,241669800.00,280457700.00,298300000.00,285300000.00,284700000.00,274200000.00,257700000.00

### 10

In [49]:
corr = df.corr()
pd.reset_option("all")
pd.options.display.float_format = '{:.6f}'.format
corr

As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

C:\ProgramData\Anaconda3\lib\site-packages\pandas\_config\config.py:630: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  warnings.warn(d.msg, FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\_config\config.py:630: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1960,1.000000,0.999583,0.999130,0.998771,0.998465,0.998523,0.998208,0.997148,0.995912,0.994906,...,0.906976,0.901237,0.901711,0.898131,0.899460,0.899196,0.891055,0.878608,0.881140,0.869865
1961,0.999583,1.000000,0.999872,0.999652,0.999396,0.999333,0.999050,0.998387,0.997421,0.996539,...,0.899806,0.894166,0.893280,0.889369,0.891563,0.891719,0.882716,0.870109,0.872738,0.861310
1962,0.999130,0.999872,1.000000,0.999808,0.999600,0.999472,0.999228,0.998704,0.997949,0.997144,...,0.897902,0.891695,0.890084,0.885722,0.887571,0.887906,0.878691,0.865603,0.868128,0.856396
1963,0.998771,0.999652,0.999808,1.000000,0.999813,0.999692,0.999419,0.999138,0.998436,0.997741,...,0.901664,0.895064,0.892987,0.888409,0.889548,0.890051,0.880806,0.867697,0.870135,0.858293
1964,0.998465,0.999396,0.999600,0.999813,1.000000,0.999953,0.999548,0.999308,0.998613,0.998099,...,0.906111,0.899569,0.897157,0.892475,0.893480,0.894118,0.884921,0.871939,0.874298,0.862625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,0.899196,0.891719,0.887906,0.890051,0.894118,0.897755,0.897863,0.895221,0.892123,0.894375,...,0.983359,0.989298,0.994891,0.997118,0.999605,1.000000,0.999502,0.998235,0.998237,0.996413
2017,0.891055,0.882716,0.878691,0.880806,0.884921,0.888690,0.888507,0.885502,0.882149,0.884314,...,0.980370,0.987023,0.994102,0.996886,0.999419,0.999502,1.000000,0.999361,0.999290,0.997762
2018,0.878608,0.870109,0.865603,0.867697,0.871939,0.875963,0.875775,0.872471,0.868695,0.870822,...,0.974970,0.982732,0.991423,0.995135,0.998483,0.998235,0.999361,1.000000,0.999857,0.999310
2019,0.881140,0.872738,0.868128,0.870135,0.874298,0.878287,0.878024,0.874635,0.870949,0.873000,...,0.973641,0.981746,0.990461,0.994268,0.998378,0.998237,0.999290,0.999857,1.000000,0.999464
2020,0.869865,0.861310,0.856396,0.858293,0.862625,0.866788,0.866604,0.863012,0.859229,0.861317,...,0.967834,0.977003,0.986678,0.991238,0.996562,0.996413,0.997762,0.999310,0.999464,1.000000

## Data Report

Finally, using [pandas profiling](https://github.com/ydataai/pandas-profiling), I'm able create a

In [ ]:
df = pd.read_csv('data.csv', engine='python', skipfooter = 49)
pd.options.display.float_format = '{:.2f}'.format
df = df.drop(columns=['Series Name', 'Series Code'])
profile = ProfileReport(sample, title="GDP per capita (current US$)", minimal=True, dark_mode=True)
profile.to_file("GDP per capita (current US$).html")
profile

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]